:root {
  --debian-color: #a80030;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

footer {
  padding: 10px 40px;
  font-size: 0.8rem;

  .translations {
    margin-bottom: 5px;
    ul {
      list-style: none;
      padding: 0;
      display: inline;
      li {
        display: inline;
      }
    }
  }
}
