.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 30px;
  padding: 30px;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.heading {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: 2px;
}

.subheading {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.box-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  .box-link {
    color: #000000;
    font-size: 1.15rem;
    text-decoration: none;
    background-color: #efefef;
    padding: 10px 20px;
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;

    &.download-link {
      background-color: var(--debian-color);
      background-image: linear-gradient(30deg, var(--debian-color), #ff2c68);
      color: #ffffff;
    }

    &:hover,
    &:focus {
      background-color: #e1e1e1;

      .box-link-title {
        text-decoration: underline;
      }
    }

    .box-link-title {
      font-weight: 600;
    }
  }
}

.splash {
  background-color: #a80030;
  background-image: linear-gradient(30deg, #a80030, #ff2c68);
  margin: 0;
  color: #ffffff;
  padding: 30px 100px;
  position: relative;

  @media (max-width: 992px) {
    padding: 20px 30px;
  }

  &::after {
    content: "";
    background-image: url("/theme/images/openlogo-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 20%;
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 100;
    display: block;
    top: 0;
    right: 10%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .splash-heading {
    margin: 0;
    font-size: 3rem;
    display: block;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .splash-codename {
    font-weight: 300;
  }

  .splash-subheading {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2rem;

    @media (max-width: 992px) {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}

.news {
  grid-column: span 2 / span 2;

  .news-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    li {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 10px;

        &::after {
          content: "";
          background-color: #c1c1c1;
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: -6px;
          left: 0;
        }
      }

      .news-item {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px;

        &:hover,
        &:focus {
          background-color: #e1e1e1;
        }

        .news-item-summary {
          margin: 0;
          font-size: 1rem;
          font-weight: 300;
        }

        .news-item-meta {
          display: flex;
          font-size: 1.2rem;

          h3 {
            margin: 0;
            font-weight: 600;
            font-size: inherit;
          }

          time {
            margin: 0;
            margin-left: auto;
            color: #777777;
            display: block;
          }

          .news-item-link {
            display: block;
            color: #000000;
            text-decoration: none;
            font-weight: 600;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  input {
    display: none;
  }

  .slider-wrapper {
    overflow: hidden;
    height: 100%;
    position: relative;

    @media (max-width: 992px) {
      aspect-ratio: 16 / 9;
    }

    .slider-inner {
      position: absolute;
      display: flex;
      height: 100%;
      width: 500%;
      transition: margin-left 0.5s;

      @media (prefers-reduced-motion) {
        transition: none;
      }

      article {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #000000;

        figure {
          height: 100%;
          width: 100%;
          margin: 0;
          display: flex;
          align-items: center;
          position: relative;

          figcaption {
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            color: #ffffff;
            &.bottom {
              bottom: 0;
            }
            &.top {
              top: 0;
            }
          }
        }

        img {
          max-height: 100%;
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .slider-control {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    label {
      display: none;
      position: absolute;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px 0;
        background-size: 40px 40px;
        background-position: 0 10px;
      }
    }
  }

  .slider-dot-control {
    margin-top: 5px;
    display: flex;
    gap: 4px;
    justify-content: center;

    label {
      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 1rem;
        border: solid 3px #9d9d9d;
        box-sizing: border-box;
      }
    }
  }

  #slide1:checked ~ .slider-wrapper .slider-inner {
    margin-left: 0%;
  }
  #slide2:checked ~ .slider-wrapper .slider-inner {
    margin-left: -100%;
  }
  #slide3:checked ~ .slider-wrapper .slider-inner {
    margin-left: -200%;
  }
  #slide4:checked ~ .slider-wrapper .slider-inner {
    margin-left: -300%;
  }
  #slide5:checked ~ .slider-wrapper .slider-inner {
    margin-left: -400%;
  }

  #slide1:checked ~ .slider-dot-control label[for="slide1"]::after,
  #slide2:checked ~ .slider-dot-control label[for="slide2"]::after,
  #slide3:checked ~ .slider-dot-control label[for="slide3"]::after,
  #slide4:checked ~ .slider-dot-control label[for="slide4"]::after,
  #slide5:checked ~ .slider-dot-control label[for="slide5"]::after {
    background-color: #9d9d9d;
  }

  #slide1:checked ~ .slider-control label[for="slide5"],
  #slide2:checked ~ .slider-control label[for="slide1"],
  #slide3:checked ~ .slider-control label[for="slide2"],
  #slide4:checked ~ .slider-control label[for="slide3"],
  #slide5:checked ~ .slider-control label[for="slide4"] {
    display: flex;
    left: 10px;
    &::after {
      background-image: url("/icons/prev.png") /*rtl:url("/icons/next.png")*/;
    }
  }
  #slide1:checked ~ .slider-control label[for="slide2"],
  #slide2:checked ~ .slider-control label[for="slide3"],
  #slide3:checked ~ .slider-control label[for="slide4"],
  #slide4:checked ~ .slider-control label[for="slide5"],
  #slide5:checked ~ .slider-control label[for="slide1"] {
    display: flex;
    right: 10px;
    &::after {
      background-image: url("/icons/next.png") /*rtl:url("/icons/prev.png")*/;
    }
  }
}
