.navbar {
  display: flex;
  background-color: #232323;
  padding: 10px 30px;
  align-items: center;
  border-bottom: 5px solid #a80030;
  position: relative;

  .navbar-brand {
    display: flex;
    align-items: center;

    .navbar-title {
      display: block;
      margin: 0;

      img {
        display: block;
        height: 35px;
      }
    }

    .navbar-logo {
      display: block;
      width: 40px;
      /*rtl:ignore*/
      margin-right: 10px;
    }
  }

  .navbar-links-wrapper {
    margin-left: auto;
  }

  .navbar-links {
    display: flex;
    list-style: none;
    gap: 30px;

    a {
      color: #959595;
      font-weight: 700;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: #ffffff;
      }

      &.active {
        color: #ffffff;
      }
    }

    @media (max-width: 992px) {
      width: 0;
      height: 0;
      position: absolute;
      overflow: hidden;
      opacity: 0;
    }
  }

  .navbar-menu-show,
  .navbar-menu-hide {
    display: none;
  }

  @media (max-width: 992px) {
    .navbar-menu-show,
    .navbar-menu-hide {
      width: 20px;
      height: 20px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin-left: auto;
      border: 0;
      background-image: url("/icons/menu.svg");
    }

    .navbar-menu-show {
      display: block;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }

    .navbar-links-wrapper:focus-within .navbar-menu-show {
      width: 0;
      height: 0;
      position: absolute;
      overflow: hidden;
      opacity: 0;
    }

    .navbar-links-wrapper:focus-within ~ .navbar-menu-hide {
      display: block;
      background-image: url("/icons/close.svg");
    }

    .navbar-links-wrapper:focus-within .navbar-links {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      overflow: visible;
      width: auto;
      height: auto;
      right: 0;
      top: 100%;
      background-color: #232323;
      z-index: 2;
      margin: 0;
      opacity: 1;
      padding: 30px 50px;
      text-align: right;
      font-size: 1.2rem;
    }
  }
}
