article {
  margin: 0 50px;

  h1 {
    font-size: 1.8rem;
  }

  .toc {
    padding: 10px 10px;
    background-color: var(--grey-100);

    h2 {
      margin: 0;
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
    }
  }

  hr {
    border: none;
    background-color: #bbb;
    height: 1px;
  }

  ul, ol {
    padding-left: 25px;
  }
}

ul.downloads {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: inline;

    ~ li::before {
      content: ",";
    }
  }
}
