<footer>
  {% if extra_siteurls %}
  <div class="translations">
    {% trans %}This page is also available in the following languages:{% endtrans %}
    <ul>
      {% for lang, url in extra_siteurls.items() %}
      <li>
        <a href="{{ url }}/">{{ LANGUAGES[lang] }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% trans %}Content is available under the <a href=\"https://www.gnu.org/copyleft/fdl.html\">GNU Free Documentation License 1.3 or later</a> unless otherwise noted.{% endtrans %}
</footer>
