<header>
  <nav class="navbar">
    <a dir="ltr" class="navbar-brand" href="{{ SITEURL }}">
      <img class="navbar-logo" src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/images/openlogo-nd.svg" alt="" />
      <span class="navbar-title">
        <span class="sr-only">{{ SITENAME }}</span>
        <img src="{{ SITEURL }}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/images/openlogo-title.svg" alt="{{ SITENAME }}" />
      </span>
    </a>
    <div tabindex="0" class="navbar-links-wrapper">
      <button class="navbar-menu-show" aria-label="{% trans %}Show navigation menu{% endtrans %}"></button>
      <ul class="navbar-links">
        <li>
          <a class="active" href="{{ SITEURL }}">{% trans %}Home{% endtrans %}</a>
        </li>
        <li>
          <a href="https://packages.debian.org">{% trans %}Packages{% endtrans %}</a>
        </li>
        <li>
          <a href="https://wiki.debian.org">{% trans %}Wiki{% endtrans %}</a>
        </li>
        <li>
          <a href="https://salsa.debian.org">{% trans %}Salsa{% endtrans %}</a>
        </li>
        <li>
          <a href="{{ SITEURL }}/security">{% trans %}Security{% endtrans %}</a>
        </li>
        <li>
          <a href="{{ SITEURL }}/distrib">{% trans %}Download{% endtrans %}</a>
        </li>
      </ul>
    </div>
    <button class="navbar-menu-hide" aria-label="{% trans %}Hide navigation menu{% endtrans %}"></button>
  </nav>
</header>
