{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{SITEURL}}/{{ relpath_to_site(DEFAULT_LANG, main_lang) }}/theme/css/home.css">
{% endblock head %}
{% block content %}
  <article>
    <div class="splash">
      <h1 class="splash-heading">
        {% trans %}Debian 12{% endtrans %}
        <span class="splash-codename">&ldquo;{% trans %}bookworm{% endtrans %}&rdquo;</span>
      </h1>      
      <span class="splash-subheading">{% trans %}The Universal Operating System{% endtrans %}</span>
    </div>
    <div class="container">
      <section class="box">
        <h2 class="heading">{% trans %}The Operating System{% endtrans %}</h2>
        <span class="subheading">{% trans %}Debian is a completely free operating system!{% endtrans %}</span>
        <ul class="box-links">
          <li>
            <a class="box-link download-link" href="{{SITEURL}}/distrib">
              <span class="box-link-title">{% trans %}Download{% endtrans %}</span>
              &ndash; {% trans %}Images for the Debian installer{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="https://www.debian.org/releases/stable/amd64/">
              <span class="box-link-title">{% trans %}Installation Guide{% endtrans %}</span>
              &ndash; {% trans %}Comprehensive setup instructions{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{SITEURL}}/support">
              <span class="box-link-title">{% trans %}User Support{% endtrans %}</span>
              &ndash; {% trans %}Getting help and documentation{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{SITEURL}}/security">
              <span class="box-link-title">{% trans %}Security{% endtrans %}</span>
              &ndash; {% trans %}Debian Security Advisories (DSA){% endtrans %}
            </a>
          </li>
        </ul>
      </section>
      <section class="box">
        <h2 class="heading">{% trans %}Community{% endtrans %}</h2>
        <span class="subheading">{% trans %}Debian is a community of people!{% endtrans %}</span>
        <ul class="box-links">
          <li>
            <a class="box-link" href="{{SITEURL}}/intro/people">
              <span class="box-link-title">{% trans %}People{% endtrans %}</span>
              &ndash; {% trans %}Who we are and what we do{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{SITEURL}}/intro/philosophy">
              <span class="box-link-title">{% trans %}Our Philosophy{% endtrans %}</span>
              &ndash; {% trans %}Why we do it, and how we do it{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{SITEURL}}/devel/join">
              <span class="box-link-title">{% trans %}Get Involved{% endtrans %}</span>
              &ndash; {% trans %}How you can join us and contribute{% endtrans %}
            </a>
          </li>
          <li>
            <a class="box-link" href="{{SITEURL}}/donate">
              <span class="box-link-title">{% trans %}Donate{% endtrans %}</span>
              &ndash; {% trans %}Give a little to financially support the project{% endtrans %}
            </a>
          </li>
        </ul>
      </section>
  </article>
{% endblock content %}
